<?xml version="1.0" encoding="utf-8" ?>
<!-- http://entlib.codeplex.com/discussions/442089 -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  
  <dataConfiguration defaultDatabase="Service_Dflt">
    <providerMappings>
      <add databaseType="EntLibContrib.Data.SQLite.SQLiteDatabase, EntLibContrib.Data.SQLite" name="System.Data.SQLite.EL5" />
    </providerMappings>
  </dataConfiguration>
  <connectionStrings>
    <add name="Service_Dflt" providerName="System.Data.SQLite.EL5" connectionString="Data Source=|DataDirectory|ELSqLiteLog@|CurrentDate|.db;Version=3;" />
  </connectionStrings>

  <!-- Logging Configuration -->
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">

    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        source="Enterprise Library Logging" formatter="Text Formatter"
        log="Client" machineName="." traceOutputOptions="None" />
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="rolling.log" formatter="Text Formatter"
        rollInterval="Day" />
      <add name="Database Trace Listener" type="EntLibContrib.Data.SQLite.FormattedDatabaseTraceListener, EntLibContrib.Data.SQLite"
          listenerDataType="EntLibContrib.Data.SQLite.Configuration.FormattedDatabaseTraceListenerData, EntLibContrib.Data.SQLite"
          databaseInstanceName="Service_Dflt" formatter="Text Formatter" />      
      <add name="My.BaseListeners.Excepciones"
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
           fileName="exceptions.log"
           formatter="Exception Formatter"
           header="&lt;Excepcion&gt;"
           footer="&lt;/Excepcion&gt;"
           rollFileExistsBehavior="Increment"
           rollInterval="None"
           rollSizeKB="1000"
           timeStampPattern="yyyy-MM-dd" />
    </listeners>

    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
        name="Text Formatter" />
      <add name="Exception Formatter"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           template="&lt;Timestamp&gt;{timestamp(local:yyyy-MM-dd HH:mm:ss.fff)}&lt;/Timestamp&gt;&#xA;&lt;Message&gt;{message}&lt;/Message&gt;&#xA;&lt;Category&gt;{category}&lt;/Category&gt;&#xA;&lt;Priority&gt;{priority}&lt;/Priority&gt;&#xA;&lt;EventId&gt;{eventid}&lt;/EventId&gt;&#xA;&lt;Severity&gt;{severity}&lt;/Severity&gt;&#xA;&lt;Title&gt;{title}&lt;/Title&gt;&#xA;&lt;Machine&gt;{machine}&lt;/Machine&gt;&#xA;&lt;Application_Domain&gt;{appDomain}&lt;/Application_Domain&gt;&#xA;&lt;Process_Id&gt;{processId}&lt;/Process_Id&gt;&#xA;&lt;Process_Name&gt;{processName}&lt;/Process_Name&gt;&#xA;&lt;Win32_Thread_Id&gt;{win32ThreadId}&lt;/Win32_Thread_Id&gt;&#xA;&lt;Thread_Name&gt;{threadName}&lt;/Thread_Name&gt;&#xA;&lt;Extended_Properties&gt;&#xA;{dictionary(&lt;{key}&gt;{value}&lt;/{key}&gt;)}&#xA;&lt;/Extended_Properties&gt;&#xA;" />
    </formatters>

    <categorySources>
      <add name="General" switchValue="All" >
        <listeners>
          <add name="Database Trace Listener" />
          <add name="Event Log Listener" />
        </listeners>
      </add>
      <add name="Excepciones" switchValue="All">
        <listeners>
          <add name="Database Trace Listener" />
          <add name="My.BaseListeners.Excepciones"/>
        </listeners>
      </add>
    </categorySources>

    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Database Trace Listener" />
           <add name="Event Log Listener" />
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Database Trace Listener" />
          <add name="My.BaseListeners.Excepciones" />
        </listeners>
      </errors>
    </specialSources>

  </loggingConfiguration>
  
  <!-- Exception Handling -->
  <exceptionHandling>
    <exceptionPolicies>
      <!--APLICATION EXCEPTION HANDLING-->
      <add name="My.ExceptionPolicy">
        <exceptionTypes>
          <add name="FaultException"
              type="System.ServiceModel.FaultException, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
              postHandlingAction="None" >
            <exceptionHandlers>
              <add name="Logging Handler"
                   type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                   logCategory="Excepciones"
                   eventId="100"
                   severity="Error"
                   title="Enterprise Library Exception Handling"
                   formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.XmlExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                   priority="0"
                   useDefaultLogger="false" />
            </exceptionHandlers>
          </add>
          <add name="Exception"
               type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               postHandlingAction="NotifyRethrow" >
            <!-- None, ThrowNewException -->
            <exceptionHandlers>
              <add name="Logging Handler"
                   type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                   logCategory="Excepciones"
                   eventId="100"
                   severity="Error"
                   title="Enterprise Library Exception Handling"
                   formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.XmlExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                   priority="0"
                   useDefaultLogger="false" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>

</configuration>